@using SharedResource = DocumentsExplorer.Website.Resources.SharedResource;

<div class="modal modal-danger fade in" id="modal-Confirmation-Delete" style="display:none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">@SharedResource.txtDeleteConfirmationMessage</h4>
            </div>
            <div class="modal-body">
                <p>@SharedResource.txtDeleteConfirmation</p>
            </div>
            <div class="modal-footer">
                <button id="CloseModal" type="button" class="btn btn-outline pull-left" data-dismiss="modal">@SharedResource.btnClose</button>
                <button id="ConfirmDelete" type="button" class="btn btn-outline">@SharedResource.btnOk</button>
            </div>
        </div>
    </div>
</div>