.example-radio-group {
  display: flex;
  flex-wrap: wrap;
  width: 10px;
}

.example-radio-button {
  margin: 0px 4px 2px 4px;
  white-space: normal;
}

.mat-radio-label-content {
  white-space: normal;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
