@using Kendo.Mvc.UI;
@using DocumentsExplorer.DTO;
@using DocumentsExplorerResource = DocumentsExplorer.Website.Resources.DocumentsExplorerResource;
@using SharedResource = DocumentsExplorer.Website.Resources.SharedResource;
@{
    ViewBag.Title = DocumentsExplorerResource.txtViewAllMinutesOfMeeting;
}

<div class="row ">
    <div class="col-lg-12">
        <div class="k-rtl">
            @(Html.Kendo().Grid<MinutesOfMeetingDTO>()
                                   .Name("MinutesOfMeetinggrid")
                                   .Columns(columns =>
                                   {
                                       columns.Bound(c => c.Id).Visible(false);
                                       columns.Bound(c => c.RoundRoundNumber).Title(DocumentsExplorerResource.txtRoundNumber);
                                       columns.Bound(c => c.Location).Title(DocumentsExplorerResource.txtLocation);
                                       columns.Bound(c => c.MeetingDate).Title(DocumentsExplorerResource.txtMeetingDate).ClientTemplate("#= kendo.toString(MeetingDate, \"dd/MM/yyyy\") #");
                                       columns.Template(@<text></text>).Width("6%")
                                .Title(SharedResource.txtEdit)
                                .ClientTemplate("<a href='" +
                                 Url.Action("Create", "MinutesOfMeeting", new { id = "#=Id#", }) +
                                 "'><i class='fa fa-edit'></i></a> ");
                                    columns.Command(c => c.Custom("Remove").Template("<i style='cursor:pointer; color:red;' class='fa fa-times' onclick='onDeleteRow($(this))'></i>"));
                                })
                                 .HtmlAttributes(new { style = "height: 800px;" })
                                 .Scrollable()
                                 .Sortable()
                                 .Pageable(pageable => pageable
                                     .Refresh(true)
                                     .PageSizes(true)
                                     .ButtonCount(5))
                                 .DataSource(dataSource => dataSource
                                     .Ajax()
                                     .Model(c => c.Id(d => d.Id))
                                     .Read(read => read.Action("ReadMinutesOfMeetings", "MinutesOfMeeting"))
                                      .Destroy(delete => delete.Action("Delete", "MinutesOfMeeting"))
                                     .PageSize(20)
                                                                      )
            )

        </div>
    </div>
</div>
@Html.Partial("Modal/DeleteConfirmationModal")
<script type="text/javascript">

    function onDeleteRow(e) {
        var grid = $('#MinutesOfMeetinggrid').data("kendoGrid");
        var row = $(e).closest("tr")[0];
        $('#modal-Confirmation-Delete').modal('show');

        $("#ConfirmDelete").click(function () {
            var data = grid.dataItem(row);
            grid.dataSource.remove(data);
            grid.dataSource.sync();
            $('#modal-Confirmation-Delete').modal('hide');
        });
    }
</script>