/*.sidebar-menu li a .fa-angle-left,
.sidebar-menu li .label, .sidebar-menu li .badge {
	margin-top: -15px !important;
}*/
.lbl-in-row
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-box-icon
{
    float: right !important;
    margin-left: 10px;
}

.info-box-content
{
    padding: 5px 10px;
     margin-left: 0px !important; 
}

.progress-description
{
    margin-bottom: 15px !important;
}
.k-upload .k-upload-button
{
    min-width: 7.167em;
    margin-right: 1.6em;
    margin-right: 0px !important;
}

.input-group[class*="col-"]
{
    float: none;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.content-header > .breadcrumb
{
    position:relative !important;
    float:none !important;
    top:0px !important;
    left:0px !important;
}

